*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px){
.navigationbar{
    display: none;
}
.bannertext{
    position: absolute;
    top: 14%;
}
.desktop{
    display: none;
}
.banner img{
    max-width: 100%;
}
.contentitem{
    display: block;
}
.colleft{
    width: 99.99999%;
}
.colright{
    width: 99.99999%;
}
}